body {
  background-color: black;
  color: var(--main-font-color);
  overflow-x: hidden;
  background-image: url('/images/stars.webp');
}

a {
  color: var(--main-font-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
